<div class="container">
    <h1 class="fuente-caligrafia">EasyDishes</h1>
    <h4>Recetas del día</h4>
    <!-- TODO: Rellenar con tarjetas -->
    <h4>Información</h4>
    <p class="texto-info">EasyDishes es una aplicación web que permite a los usuarios crear, 
        compartir y utilizar recetas de cocina. Funciona de manera similar a un blog, con 
        entradas correspondientes con cada receta. Dentro de estas, se pueden compartir 
        en redes sociales y añadir a favoritos. Otra función interesante de la 
        aplicación es la posibilidad de organización del usuario. En base a las recetas, se 
        pueden añadir ingredientes a una lista de la compra e imprimir la misma para poder 
        llevarla al supermercado. Por último, se pueden enviar mensajes para contactar 
        con la página. El código de la aplicación se puede encontrar en 
        <a href="https://github.com/luigitimeisreal/EasyDishes">esta página</a>.
    </p>
</div>