<div class="container">
    <h1 class="fuente-caligrafia">Recetas</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Reemplazar ngfor con for de cada receta -->
        <ng-container *ngFor="let _ of [].constructor(10)">
            <div class="col">
                <tarjeta-receta></tarjeta-receta>
            </div>
        </ng-container>
    </div>
    <br>
    <!-- <a type="button" [routerLink]="['/recetas/receta', 10]" class="btn btn-secondary">(BORRAR) Receta</a> -->
    <a type="button" routerLink="anyadir" class="btn btn-secondary">Añadir</a>
</div>