<div class="container">
    <form [formGroup]="anyadirRecetaForm" (ngSubmit)="subirReceta()">
        <h1 class="fuente-caligrafia">Añadir Receta</h1>
        <h4>Imagen</h4>
        <input type="file" class="form-control" (change)="cuandoImagenSeleccionada($event)">
        <h4>Datos</h4>
        <div class="row mb-3">
            <div class="col">
                <label class="form-label" >Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                @for (err of errores; track $index) {
                    @if(anyadirRecetaForm.get('nombre')?.hasError(err.type) && anyadirRecetaForm.get('nombre')?.touched) {
                        <p class="text-danger">{{err.message}}</p>
                    }
                }
            </div>
            <div class="col">
                <label class="form-label">Etapa</label>
                <select class="form-select" formControlName="etapa">
                    <option value="Desayuno">Desayuno</option>
                    <option value="Comida">Comida</option>
                    <option value="Cena">Cena</option>
                </select>
            </div>
        </div>
        <h4>Ingredientes</h4>
        @for (ingrediente of ingredientesProvisionales; track $index) {
            <p>{{ ingrediente.nombre }} x{{ ingrediente.cantidad }} {{ ingrediente.unidad }}</p>
        }
        <form [formGroup]="ingredientes" (ngSubmit)="anyadirIngrediente()">
            <div class="input-group mb-3">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Ingrediente" 
                    formControlName="ingrediente">
                <input 
                    type="number" 
                    class="form-control" 
                    placeholder="Cantidad"
                    formControlName="cantidad">
                <input 
                    type="text" 
                    class="form-control"
                    placeholder="Unidad"
                    formControlName="unidad">
                <span class="input-group-text" id="basic-addon2"><input class="btn btn-secondary" type="submit" value="➕"></span>
            </div>
            @if (ingredientes.get('ingrediente')?.hasError("required") && ingredientes.get('ingrediente')?.touched) {
                <p class="text-danger">El campo ingrediente es obligatorio</p>
            }
            @if (ingredientes.get('cantidad')?.hasError("required") && ingredientes.get('cantidad')?.touched) {
                <p class="text-danger">El campo cantidad es obligatorio</p>
            }
            @if (ingredientes.get('unidad')?.hasError("required") && ingredientes.get('unidad')?.touched) {
                <p class="text-danger">El campo unidad es obligatorio</p>
            }
            @if (!hayIngredientes) {
                <p class="text-danger">Debe haber por lo menos 1 ingrediente</p>
            }
        </form>
        <h4>Modo de preparación</h4>
        <textarea placeholder="Preparación" class="form-control" id="exampleFormControlTextarea1" rows="6" formControlName="preparacion"></textarea>
        @if (anyadirRecetaForm.get('preparacion')?.hasError("required") && anyadirRecetaForm.get('preparacion')?.touched) {
            <p class="text-danger">El campo preparación es obligatorio</p>
        }
        <br>
        <div class="d-grid gap-2">
            <input type="submit" class="btn btn-secondary btn-lg" value="Aceptar">
        </div>
    </form>
</div>