<div class="container">
    <h1 class="fuente-caligrafia">Añadir Receta</h1>
    <ngx-dropzone (change)="imagenSeleccionada($event)">
        <ngx-dropzone-label>➕Subir Imagen</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="imagenEliminada(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
    </ngx-dropzone>
    <h4>Ingredientes</h4>
    @for (ingredienteCantidad of ingredientesCantidadesProvisionales; track $index) {
        <p>{{ ingredienteCantidad }}</p>
    }
    <form [formGroup]="ingredientes" (ngSubmit)="anyadirIngrediente()">
        <div class="input-group mb-3">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Ingrediente" 
                formControlName="ingrediente">
            <input 
                type="number" 
                class="form-control" 
                placeholder="Cantidad"
                formControlName="cantidad">
            <span class="input-group-text" id="basic-addon2"><input class="btn btn-secondary" type="submit" value="➕"></span>
        </div>
        @if (ingredientes.get('ingrediente')?.hasError("required") && ingredientes.get('ingrediente')?.touched) {
            <p class="text-danger">El campo ingrediente es obligatorio</p>
        }
        @if (ingredientes.get('cantidad')?.hasError("required") && ingredientes.get('cantidad')?.touched) {
            <p class="text-danger">El campo cantidad es obligatorio</p>
        }
    </form>
    <h4>Modo de preparación</h4>
    <textarea placeholder="Preparación" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
    <br>
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-secondary btn-lg">Aceptar</button>
    </div>
</div>