<div class="container">
    <h1 class="fuente-caligrafia">Recetas</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for (receta of recetas; track $index) {
        <div class="col">
            <div class="card">
                <img [src]="receta.imagen" class="card-img-top" alt="..." class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">{{ receta.nombre }}</h5>
                    <a class="btn btn-secondary largo" type="button" [routerLink]="['/recetas/receta', receta.id]">Ver</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>