<div class="container">
    <h1 class="fuente-caligrafia">Lista de la compra</h1>
    <div class="card mb-3 border-0">
        <img src="../../../assets/images/banner-lista.png" class="card-img-top" alt="Banner de la lista">
    </div>
    @if(this.ingredientes.length === 0) {
      <p class="text-warning"><i>No hay ningún ingrediente en la lista</i></p>
    }
    <ul class="ingrediente">
        @for (ingrediente of ingredientes; track $index) {
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ ingrediente.nombre }} x{{ ingrediente.cantidad }} {{ ingrediente.unidad }}
            <div>
              <button type="button" class="btn btn-danger btn-separacion" (click)="eliminarIngrediente(ingrediente)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                </svg>
              </button>
            </div>
          </li>
          <br>
        }
    </ul>
    <p>Se puede añadir cantidad a un ingrediente introduciendo de nuevo su nombre</p>
    <br>
    <button type="button" class="btn btn-secondary btn-separacion" (click)="eliminarTodosIngredientes()">Eliminar todo</button>
    <button type="button" class="btn btn-secondary btn-separacion" data-bs-toggle="modal" data-bs-target="#anyadirModal">
      Añadir
    </button>
    <button type="button" class="btn btn-secondary" (click)="generarPDF()">Generar PDF</button>
      
      <!-- Modal -->
      <div class="modal fade" id="anyadirModal" tabindex="-1" aria-labelledby="anyadirModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <form action="" [formGroup]="formAnyadir" (ngSubmit)="anyadirIngrediente()">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="anyadirModalLabel">Añadir ingrediente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row mb-3">
                      <div class="col">
                          <label class="form-label">Ingrediente</label>
                          <input type="text" class="form-control" placeholder="Ingrediente" formControlName="ingrediente">
                          @if(formAnyadir.get('ingrediente')?.hasError("required") && formAnyadir.get('ingrediente')?.touched) {
                            <p class="text-danger">Debes introducir un nombre del ingrediente</p>
                          }
                      </div>
                      <div class="col">
                          <label class="form-label">Cantidad</label>
                          <input type="number" class="form-control" placeholder="Cantidad" formControlName="cantidad">
                          @if(formAnyadir.get('cantidad')?.hasError("required") && formAnyadir.get('cantidad')?.touched) {
                            <p class="text-danger">Debes introducir una cantidad</p>
                          }
                      </div>
                      <div class="col">
                          <label class="form-label">Unidad</label>
                          <input type="text" class="form-control" placeholder="Unidad" formControlName="unidad">
                          @if(formAnyadir.get('unidad')?.hasError("required") && formAnyadir.get('unidad')?.touched) {
                            <p class="text-danger">Debes introducir una unidad</p>
                          }
                      </div>
                      <p>Para guardar los ingredientes, inicia sesión </p>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Añadir</button>
              </div>
            </div>
          </form>
        </div>
      </div>

</div>